.wrapper {
    width: 100%;
}

.card {
    width: 200px;
    height: 130px;
    margin: 20px;
    border-radius: 5px;

}

.cardDiv {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.toast {
    padding: 30px;
    position: fixed;
    top: 20px;
    right: 20px;
    background-color: snow;
    color: #212121;
    width: 250px;
    border-radius: 5px;
}

.header {
    color: white;
    background-color: #1E88E5;
    width: 100%;
    padding: 10px 0px;
    margin-bottom: 10px;
    position: static;
    top: 0px;
    cursor: pointer;
}

.gitLogo {
    width: 40px;
    border-radius: 50%;
    position: absolute;
    top: 12px;
    left: 10px;
    cursor: pointer;
}